<div class="container">
  <div class="row justify-content-around">
    <div class="col-5 tool-checkout text-center">
      <h4>Your tools checked out:</h4>
      <div class="container justify-content-center tool-scroll">
        <div class="mx-auto media">
          <img src="../../assets/img/hammer.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Hammer</h5>
            <a class="tool-info" href="#">Brian | Oct. 3, 2019 | More Info</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 tool-checkout text-center">
      <h4>Tools you are borrowing:</h4>
      <div class="container justify-content-center tool-scroll">
        <div class="mx-auto media">
          <img src="../../assets/img/drill_set.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Drill Set</h5>
            <a class="tool-info" data-toggle="modal" data-target="#exampleModal" href="#">Alex | Dec.
              15, 2019 | More Info</a>
          </div>
        </div>
        <div class="mx-auto media">
          <img src="../../assets/img/wrench_set.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Wrench Set</h5>
            <a class="tool-info" data-toggle="modal" data-target="#exampleModal" href="#">Alex | Dec.
              15, 2019 | More Info</a>
          </div>
        </div>
        <div class="mx-auto media">
          <img src="../../assets/img/wrench_set.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Wrench Set</h5>
            <a class="tool-info" data-toggle="modal" data-target="#exampleModal" href="#">Alex | Dec.
              15, 2019 | More Info</a>
          </div>
        </div>
        <div class="mx-auto media">
          <img src="../../assets/img/wrench_set.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Wrench Set</h5>
            <a class="tool-info" data-toggle="modal" data-target="#exampleModal" href="#">Alex | Dec.
              15, 2019 | More Info</a>
          </div>
        </div>
        <div class="mx-auto media">
          <img src="../../assets/img/wrench_set.jpg" class="align-self-center" alt="Tool Pic">
          <div class="media-body">
            <h5 class="mt-0">Wrench Set</h5>
            <a class="tool-info" data-toggle="modal" data-target="#exampleModal" href="#">Alex | Dec.
              15, 2019 | More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 search-bar">
      <div class="row w-100 h-100">
        <div class="col-6 bottom-menu">

        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <h2>Search for tools nearby</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 tool-inventory">
      <div class="row w-100 h-100">
        <div class="col-6 bottom-menu">

        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <h2>View your inventory</h2>
        </div>
      </div>
    </div>
  </div>
</div>
