/* ----------------------------------- */
/* Google Icons */
/* ----------------------------------- */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ----------------------------------- */
/* Body Settings */
/* ----------------------------------- */

.media {
  margin-bottom: 15px;
  width: 300px;
}

.media img {
  width: 64px;
  height: auto;
}

.tool-info {
  text-transform: none;
}

.tool-checkout {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 50px;
  height: 280px;
}

.tool-checkout h4 {
  margin-bottom: 10px;
}

.tool-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.tool-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.tool-scroll::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.tool-scroll::-webkit-scrollbar-track {
  box-shadow: rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.search-bar,
.tool-inventory {
  border: 2px solid black;
  border-radius: 50px;
  height: 100px;
  margin-bottom: 10px;
  padding: 0 !important;
}

.search-bar .row,
.tool-inventory .row {
  border-radius: 50px;
  margin: 0;
}

.bottom-menu {
  background-position: center;
  background-size: cover;
  border-radius: 50px 0 0 50px;
}

.search-bar .bottom-menu {
  background-image: url(../../assets/img/map.jpg);
}

.tool-inventory .bottom-menu {
  background-image: url(../../assets/img/set_of_tools.jpg);
}

/* ----------------------------------- */
/* Modal Settings */
/* ----------------------------------- */

.user-info li {
  list-style-type: none;
}

.tool-pic-modal {
  width: 45px;
  height: auto;
}

.modal-header {
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal-footer {
  border-top: 1px solid black;
}

.modal-header,
.modal-footer {
  background-color: #28a745;
}

.modal-body {
  background-color: rgb(158, 158, 158);
}
